<template>
  <div>
    <h1 id="film-quiz">Results</h1>
    <p id="score">Correct answers: {{correctAnswers * 10}} / 100</p> <!-- Printing score out of a hundred -->
    <div class="resultBox" v-for="question in questions" :key="question.index" > <!-- Looping through each question -->
      <div class="questionText">
        <h3 v-html="question.question"></h3> <!-- Printing question -->
      </div>
      <div class="answerBox">
        <div class="userAnswer">
          <p>You answered: </p>
          <p v-html="question.userAnswer"></p> <!-- printing the chosen alternative for the question -->
        </div>
        <div class="correctAnswer">
          <p>The correct answer: </p>
          <p v-html=" question.correct_answer"></p> <!-- printing the correct answer for the question -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Results",
  props: ['questions'], //using questions from trivia data ??

  computed: {
    correctAnswers() { //Increasing count variable if user answer matches the correct answer for the question
      let counter = 0;
        this.questions.map((question) => {
          if (question.rightAnswer) {
            counter++;
          }
        });
        return counter;

    }

  },
}
</script>

<style scoped>
.resultBox {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  text-shadow: 0 0 1em #7c98fa;
  border: 1px solid rgb(255, 0, 213);
  box-shadow: 0 0 1em rgba(255, 92, 232, 0.3);
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: Calibri, sans-serif;

}


.answerBox{
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;

}
.answerBox p{
  color: white;
}

#score{
  color: white;
  font-size: 1.5em;
  text-shadow: 0 0 0.5em 0.5em #e058d9;
  font-family: Calibri, sans-serif;
}

</style>