<template>
  <div>
    <x-sign>WELCOME TO THE TRIVIA APP</x-sign> <!-- custom tag, more info from line 27 -->
    <button id="startQuiz" @click="onStartClick">START</button> <!-- start button  -->
  </div>
</template>

<script>
export default {
  name: "StartScreen",

  methods: {
    onStartClick() {
      return this.$router.push('/trivia') //Uses the router to redirect to trivia.vue content
    },
  }
}


/**
 * STOLEN CONTENT TO MAKE COOL NEON SIGN :)
 * Taken and modified from: https://codepen.io/erikjung/pen/XdWEKE
 **/
const signs = document.querySelectorAll('x-sign')
const randomIn = (min, max) => (
    Math.floor(Math.random() * (max - min + 1) + min)
)

const mixupInterval = el => {
  const ms = randomIn(2000, 4000)
  el.style.setProperty('--interval', `${ms}ms`)
}

signs.forEach(el => {
  mixupInterval(el)
  el.addEventListener('webkitAnimationIteration', () => {
    mixupInterval(el)
  })
})
</script>

<style scoped>

/**
* Fancy glowy start button styling
**/
#startQuiz {
  margin: 3em 0;
  border-radius: .5em;
  border: .1em solid #b7d4fd;
  font-weight: bolder;
  font-size: 2.5em;
  font-family: Arial Rounded MT, sans-serif;
  background-color: rgba(144, 181, 253, 0.4);
  width: 20%;
  box-shadow: 0 0 2em .5em #86b4ff, inset 0 0 .5em .1em #86b4ff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #d2dcff;
  text-shadow: 0 0 3em #0039ff;
}

/**
* Fancy glowy sign styling. Modified from codepen source
**/

x-sign {
  font-size: 4em;
  padding-top: 2em;
  color: #ffccf2;
  --color1: #ff33cc;
  --color2: #ff1ab3;
  --color3: magenta;
  --color4: #ac00e6;
  -webkit-text-fill-color: #47013d;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffccf2;
  --interval: 1s;
  display: block;
  text-shadow:
      0 0 10px var(--color1),
      0 0 20px var(--color2),
      0 0 40px var(--color3),
      0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}

/**
* Fancy flicker effect for sign, taken from codepen source
**/
@keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(15deg);
  }
}

</style>