<!--html-->
<template>
  <div id="trivia-container">
    <div v-if="!isDone"> <!--condition to check if the quiz is not done, then this will display-->
      <h1 id="film-quiz">Film quiz</h1>
      <div id="questionBox">
        <hr class="divider" />
        <p v-html="loading ? 'Loading...' : currentQuestion.question"></p> <!--renders loader or display question -->
        <hr class="divider" />
      </div>
    </div>
    <!-- condition to check if currentQuestion exists and the quiz is not done then buttons should display-->
    <form v-if="currentQuestion && !isDone">
      <!--loops through the answers and generates button with answer-->
      <button
          v-for="answer in currentQuestion.answers"
          :index="currentQuestion.key"
          :key="answer"
          v-html="answer"
          @click.prevent="handleButtonClick(answer, currentQuestion.key)"
      ></button>
    </form>

    <div v-if="!isDone"  class = "questionNumber">
      <ul>
        <li v-for="question in questions" :key="question.key"> <!--loop through questions-->
          <!-- display the number of questions and progression-->
          <p v-bind:class="{ active: question.key === currentQuestion.key, answered: question.key < currentQuestion.key }">
            {{question.key + 1}}
          </p>
        </li>
      </ul>
    </div>
    <!--check if isDone to render result component-->
    <div v-if="isDone">
      <Results v-bind:questions="questions" />
    </div>
  </div>
</template>

<!--javascript-->
<script>
import Results from "@/components/Results";
import {fetchTrivia} from "@/api/triApi";

export default {
    name: "Trivia",
    components: {Results},
    data() {
      return {
        questions: [], // array of questions
        loading: true, // loading boolean
        index: 0,  // currentQuestion index
        isDone: false, // isDone boolean
      };
    },
    computed: {
      // method to get question from currentQuestion
      currentQuestion() {
        if (this.questions !== []) {
          return this.questions[this.index];
        }
        return null;
      },
    },
    methods: {
      async fetchQuestions() { // async to await fetchTrivia
        this.loading = true;
        // fetch questions from API
        let jsonResponse = await fetchTrivia();
        let index = 0;

        // manipulate questions
        // put data on questions property
        this.questions = jsonResponse.results.map((question) => {
          // put all answers on question into single array
          question.answers = [
            question.correct_answer,
            ...question.incorrect_answers,
          ];

          // Shuffle question.answers array as we need different question orders
          for (let i = question.answers.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [question.answers[i], question.answers[j]] = [
              question.answers[j],
              question.answers[i],
            ];
          }
          // add rightAnswer and key property to each question
          question.rightAnswer = null;
          question.key = index;
          index++;

          return question;
        });
        this.loading = false;
      },
      // buttonClick function that takes the usersAnswer and the index of the question
      handleButtonClick: function(userAnswer, index) {

        /* Set userAnswer on question object in data */
        this.questions[index].userAnswer = userAnswer;

        /* Invoke checkAnswer to check Answer */
        this.checkAnswer(index);
      },

      // function to check if the answer is correct
      checkAnswer: function(index) {
        let question = this.questions[index];

        if (question.userAnswer) {
          this.questions[index].rightAnswer = question.userAnswer === question.correct_answer;

          // check if there are more questions
          if (this.index < this.questions.length - 1) {
            setTimeout(
                function () {
                  this.index += 1; // get next question
                }.bind(this),
                100
            );
          } else {
            this.isDone = true; // trivia done if no more questions
          }
        }
      },
    },
    mounted() {
      this.fetchQuestions(); // fetch questions when component mounts
    }
  }
</script>


<!--CSS-->
<style>
 /* General style */
  #trivia-container {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 80%;
    font-size: 1.5rem;
    text-shadow: 0 0 1em #7c98fa;
  }

  h1 {
    font-weight: bolder;
    font-size: 2.5em;
    -webkit-text-fill-color: rgba(210, 220, 255, 0.2);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #d2dcff;
    text-shadow: 0 0 3em 1em #cbd6ff;
  }

  button {
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 1rem;
    margin: 0.3rem;
    width: 47%;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 0.4rem;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
  }

  button:hover:enabled {
    transform: scale(1.02);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
  }

  button:focus {
    outline: none;
  }

  button:active:enabled {
    transform: scale(1.05);
  }

  .divider {
    margin: 1rem 0;
    border: 3px solid rgb(255, 0, 213);
    border-radius: 2px;
    box-shadow: 0 0 1em rgba(255, 92, 232, 0.7);
  }

  #questionBox {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: Calibri, sans-serif;
    font-weight: lighter;
    -webkit-text-fill-color: rgba(0, 50, 250, 0.5);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #b0b7ff;
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .questionNumber {
    display: flex;
    justify-content: center;
  }

  .questionNumber p {
    margin: 1em 1em;
    color: white;

  }

  li {
    list-style: none;
  }

  ul {
    display: flex;
  }

 /* Question number states */

 .active {
    font-size: 34px;
    margin-top: 0.5em !important;
  }

  .answered {
    color: dimgrey !important;
  }

</style>