<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'App',
}

</script>

<style>
#app {
  font-family: Arial Rounded MT,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0487ff;
}

html {
  background-image: url("./assets/triviaBg.webp");
  background-size: contain;
  text-align: center;
}
</style>
